<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.nyu.lk.cookzilla.dao.RecipeTagMapper" >
  <resultMap id="BaseResultMap" type="edu.nyu.lk.cookzilla.model.RecipeTag" >
    <id column="recipeTagId" property="recipetagid" jdbcType="INTEGER" />
    <result column="tagId" property="tagid" jdbcType="INTEGER" />
    <result column="recipeId" property="recipeid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    recipeTagId, tagId, recipeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from RecipeTag
    where recipeTagId = #{recipetagid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from RecipeTag
    where recipeTagId = #{recipetagid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.nyu.lk.cookzilla.model.RecipeTag" >
    insert into RecipeTag (recipeTagId, tagId, recipeId
      )
    values (#{recipetagid,jdbcType=INTEGER}, #{tagid,jdbcType=INTEGER}, #{recipeid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.nyu.lk.cookzilla.model.RecipeTag" >
    insert into RecipeTag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recipetagid != null" >
        recipeTagId,
      </if>
      <if test="tagid != null" >
        tagId,
      </if>
      <if test="recipeid != null" >
        recipeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recipetagid != null" >
        #{recipetagid,jdbcType=INTEGER},
      </if>
      <if test="tagid != null" >
        #{tagid,jdbcType=INTEGER},
      </if>
      <if test="recipeid != null" >
        #{recipeid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.nyu.lk.cookzilla.model.RecipeTag" >
    update RecipeTag
    <set >
      <if test="tagid != null" >
        tagId = #{tagid,jdbcType=INTEGER},
      </if>
      <if test="recipeid != null" >
        recipeId = #{recipeid,jdbcType=INTEGER},
      </if>
    </set>
    where recipeTagId = #{recipetagid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.nyu.lk.cookzilla.model.RecipeTag" >
    update RecipeTag
    set tagId = #{tagid,jdbcType=INTEGER},
      recipeId = #{recipeid,jdbcType=INTEGER}
    where recipeTagId = #{recipetagid,jdbcType=INTEGER}
  </update>
</mapper>